<div class="header-content">
    <div class="header-left">
        <img src="/assets/logo.svg" alt="EmployeePro Logo" class="logo">
        <div class="title-group">
            <h1 class="company-name">EmployeePro</h1>
            <p id="portal-name-display" class="portal-name">Enterprise Dashboard</p>
        </div>
    </div>
    <div class="header-right">
        <button class="notification-button">
            <i class="fa-regular fa-bell"></i>
            <span class="notification-dot"></span>
        </button>
        <img id="user-avatar-display" src="/assets/default-avatar.png" alt="User Avatar" class="avatar">
        <span id="user-name-display" class="user-name">Loading...</span>
        <div class="profile-dropdown">
            <button id="dropdown-button" class="dropdown-toggle"><i class="fa-solid fa-chevron-down"></i></button>
            <div id="dropdown-menu" class="dropdown-menu hidden">
                <a href="#">My Profile</a>
                <hr>
                <a id="logout-button" href="#" class="logout-link">Logout</a>
            </div>
        </div>
    </div>
</div>